body {
    background-color: black;
}

#header {
    height: 200px;
    border: black 1px;
}

#img_tailors {
    background: url(tailors_logo.PNG);
    background-size: 200px 200px ;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    position: fixed;
    left: 45%;
}   