/* Ropa Tailors atributos de la p-ágina principal html: Ropa_Tailors */
#body1{
    background-color: black;
}


#img_tailors {
    background: url(tailors_logo.PNG);
    background-size: 200px 200px;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin:auto;
    /*position: fixed;
    left: 45%;*/
    
    /*border: 1px solid black;*/
}
#content {
    float: left;
    width: 100%;
    background-color: #191919;
    height: 10px;
    
}
.limenu{
    width: 300px;
}

.arreglos {
    width: 150px;
    height: 49px;
}

.contacto {
    width: 129px;
    height: 49px;
    position: relative;
    left: 170px;
    bottom: 48px;
}

.liarreglos {
    font-family: raleway, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    width: 170px;
}

.licontacto {
    font-family: raleway, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    width: 70px;
}
/* Ocultar la flecha desplegable de Arreglos y servicios*/
.spancaret {
    visibility: hidden;
}

#sign {
    float: right;
    margin-right: 10px;
    font-size: 15px;
}

a:hover {
  opacity: 100 !important;
}

#ulcolor {
    background-color: #191919;
}
#pmenu {
    text-align: left;
    background-color: none;
    color: whitesmoke;
    font-size: 16px;
}

/* Camiseta */
#rowcamisa {
    margin-bottom: 140px;
}

#camisetaimg {
    /*border: white solid 1px;*/
    background: url(camisa.PNG);
    background-size: 100% 672px;
    background-repeat: no-repeat;
    height: 672px;
    width: 35%;
    float: left;
    margin-top: 0px;
}

#camisetatext {
    /*border: white solid 1px;*/
    height: 672px;
    width: 63%;
    float: right;
    margin-top: 0px;
    background-color: #191919;
}
/* Abrigos */
#rowabrigos {
    margin-bottom: 40px;
}

#abrigosimg {
    /*border: white solid 1px;*/
    background: url(abrigos.PNG);
    background-size: 100% 932px;
    background-repeat: no-repeat;
    height: 932px;
    width: 50%;
    float: right;
    
}

#abrigostext {
    /*border: white solid 1px;*/
    height: 932px;
    width: 48%;
    float: left;
    background-color: #191919;
    padding: 9% 0 9% 0;
    padding-left: 10px;
    padding-right: 10px;
}

/* Mujer */
#rowmujer {
    margin-bottom: 60px;
}
#mujerimg {
    /*border: white solid 1px;*/
    background: url(mujer.PNG);
    background-size: 100% 900px;
    background-repeat: no-repeat;
    height: 900px;
    width: 50%;
    float: left;
}

#mujertext {
    /*border: white solid 1px;*/
    height: 900px;
    width: 48%;
    float: right;
    background-color: #191919;
}
/* Cremallera */
#cremalleratext {
    /*border: white solid 1px;*/
    height: 1174px;
    width: 58%;
    float: left;
    background-color: #191919;
}

#cremalleraimg {
    /*border: white solid 1px;*/
    background: url(cremallera.PNG);
    background-size: 100% 1174px;
    background-repeat: no-repeat;
    height: 1174px;
    width: 40%;
    float: right;
}

#tam {
    height: 200px;
}

#title {
    text-align: center;
    font-family: playfair display, serif;
    color: whitesmoke;
    font-size: 40px;
    vertical-align: middle;
}
#title2 {
    text-align: center;
    font-family: playfair display, serif;
    color: whitesmoke;
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 40px;
}
p{
    text-align: center; 
    color: whitesmoke;
    font-size: 16px;   
}

#link {
    font-size: 18px;
    font-family: playfair display, serif;
    color: whitesmoke;
}

#top {
    margin-top: 60px;
    font-family: playfair display, serif;
    font-size: 30px;
}

@media screen and (max-width: 1200px) {
  .limenu{
    width: 300px;
  }
}